<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.bookforyou.bk4u.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.bookforyou.bk4u.book.model.vo.Book" alias="Book"/>
		<typeAlias type="com.bookforyou.bk4u.group.model.vo.GroupBoard" alias="GroupBoard"/>
		<typeAlias type="com.bookforyou.bk4u.notice.model.vo.Notice" alias="Notice"/>
		<typeAlias type="com.bookforyou.bk4u.faq.model.vo.Faq" alias="Faq"/>
		<typeAlias type="com.bookforyou.bk4u.booklist.model.vo.Booklist" alias="Booklist"/>
		<typeAlias type="com.bookforyou.bk4u.subscription.model.vo.Subscription" alias="Subscription"/>
		
	</typeAliases>

	<mappers>
		<mapper resource="/mappers/member-mapper.xml"/>
		<mapper resource="/mappers/book-mapper.xml"/>
		<mapper resource="/mappers/group-mapper.xml"/>
		<mapper resource="/mappers/notice-mapper.xml"/>
		<mapper resource="/mappers/booklist-mapper.xml"/>
		<mapper resource="/mappers/subscription-mapper.xml"/>
		
	</mappers>

</configuration>
