/*
body{
    font-family: 'Ek Mukta', sans-serif;
    height: 100%;
    width: 100%;
}
*/
/*
.wrap{
    padding: 15px;
    width: 480px;
    height: 390px;
    border-radius: 12px;
    position: relative; //it can be fixed too
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    //this to solve "the content will not be cut when the window is smaller than the content": 
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
}
*/
label {
    position: relative !important;
    display: inline-block !important;
    text-align: center !important;
}

.btn:hover {
    cursor: pointer !important;
}

.btn:active {
    box-shadow: 0 1px #666 !important;
    transform: translateY(2px) !important;
}
.btn {
    margin-left: 15px !important;
    margin-right: 15px !important;
    font-size: 15px !important;
    font-weight: bold !important;
    height: 35px !important;
    width: 100px !important;
    box-shadow: 0 3px #999 !important;
    text-align: center !important;
}
.btn-sık {
    transition: all 0.2s ease !important;
    background-color: white !important;
    border: 2px solid #f44336 !important;
    box-shadow: 0 3px #d32f2f !important;
    min-width: 100px !important;
    border-radius: 20px !important;
}


    btn-sık::selection{
        background: green !important;
    }

input[type="radio"] {
     position: absolute !important;
  visibility: hidden !important; 
}
input[type="radio"] + div {
    position: relative !important;
}
input[type="radio"]:checked + div {
  background-color: #ef5350 !important;
}
input[type="radio"]:checked + div>span {
  color: white !important;
}
input[type="radio"] + div>span {
position: relative !important;
top: 25% !important;}

input[type="checkbox"] {
     position: absolute !important;
  visibility: hidden !important;
}

input[type="checkbox"] + div {
    position: relative !important;
}
input[type="checkbox"]:checked + div {
  background-color: #ef5350 !important;
}
input[type="checkbox"]:checked + div>span {
  color: white !important;
}
input[type="checkbox"] + div>span {
position: relative !important;
top: 25% !important;}

input[type="checkbox"]:checked + div::before {
        content:"✔";
    position: absolute !important;
    bottom: 18px !important;
    right: 0px !important;
    font-size: 21px !important;
    color: black !important;
}

input[type="radio"]:checked + div::before {
    font-family: FontAwesome !important;
    content: "\f08d" !important;
    position: absolute !important;
    bottom: 31px !important;
    font-size: 21px !important;
    color: black !important;
    right: -5px !important;
    -webkit-transform: rotate(30deg) !important;
    -moz-transform: rotate(30deg) !important;
    -o-transform: rotate(30deg) !important;
    -ms-transform: rotate(30deg) !important;
    transform: rotate(30deg) !important;
    animation: fall 0.5s forwards !important;
}

@keyframes fall {
    100% {
        -webkit-transform: translate(-5px,5px) rotate(30deg) !important;
        -moz-transform: translate(-5px,5px) rotate(30deg) !important;
        -o-transform: translate(-5px,5px) rotate(30deg) !important;
        -ms-transform: translate(-5px,5px) rotate(30deg) !important;
        transform: translate(-5px,5px) rotate(30deg) !important;
    }
}

@-moz-keyframes fall {
    100% {
        -webkit-transform: translate(-5px,5px) rotate(30deg) !important;
        -moz-transform: translate(-5px,5px) rotate(30deg) !important;
        -o-transform: translate(-5px,5px) rotate(30deg) !important;
        -ms-transform: translate(-5px,5px) rotate(30deg) !important;
        transform: translate(-5px,5px) rotate(30deg) !important;
    }
}

@-webkit-keyframes fall {
     100% {
        -webkit-transform: translate(-5px,5px) rotate(30deg) !important;
        -moz-transform: translate(-5px,5px) rotate(30deg) !important;
        -o-transform: translate(-5px,5px) rotate(30deg) !important;
        -ms-transform: translate(-5px,5px) rotate(30deg) !important;
        transform: translate(-5px,5px) rotate(30deg) !important;
    }
}