<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="booklistMapper">

	<resultMap id="booklistResult" type="Booklist">
		<result column="bl_no" property="blNo"/>
		<result column="mem_no" property="memNo"/>
		<result column="mem_nickname" property="blWriter"/>
		<result column="bl_title" property="blTitle"/>
		<result column="bl_content" property="blContent"/>
		<result column="bl_count" property="blCount"/>
		<result column="bl_rate" property="blRate"/>
		<result column="bl_cdate" property="blCdate"/>
		<result column="bl_mdate" property="blMdate"/>
		<result column="bl_like" property="blLike"/>
		<result column="bl_scrap" property="blScrap"/>
		<result column="bk_no" property="bkNo"/>
	</resultMap>
	
	<resultMap id="bookResult" type="Book">
		<result column="bk_no" property="bkNo"/>
		<result column="bk_title" property="bkTitle"/>
		<result column="writer_name" property="writerName"/>
		<result column="intro_originname" property="introOriginName"/>
		<result column="bk_introduce" property="bkIntroduce"/>
	</resultMap>
	
	<resultMap id="replyResult" type="Reply">
		<result column="reply_no" property="replyNo"/>
		<result column="mem_no" property="memNo"/>
		<result column="reply_type" property="replyType"/>
		<result column="ref_post" property="refPost"/>
		<result column="reply_content" property="replyContent"/>
		<result column="reply_cdate" property="replyCdate"/>
		<result column="reply_mdate" property="replyMdate"/>
		<result column="delete_status" property="deleteStatus"/>
		<result column="reply_refNo" property="replyRefNo"/>
		<result column="depth" property="depth"/>
	</resultMap>

	<!-- 독서록 게시글 갯수 조회용 -->
	<!-- @author daeunlee -->
	<select id="selectListCount" resultType="_int">
		select count(*)
		  from booklist
		 where bl_status='Y'
	</select>
	
	<!-- 독서록 리스트 조회용 + 페이징 -->
	<!-- @author daeunlee -->
	<select id="selectList" resultMap="booklistResult">
		select 
		       bl_no
		     , mem_nickname
		     , bk_no
		     , bl_title
		     , bl_content
		     , bl_count
		     , bl_rate
		     , bl_cdate
		     , bl_mdate
		     , bl_like
		     , bl_scrap
		  from booklist
		  join members using(mem_no)
		 where bl_status='Y'
		 order
		    by bl_no desc
	</select>
	
	<!-- 독서록 작성용 -->
	<!-- @author daeunlee -->
	<insert id="insertBooklist">
		insert 
		  into booklist
		     (
		       bl_no
		     , mem_no
		     , bk_no
		     , bl_title
		     , bl_content
		     , bl_rate
		     , bl_cdate
		     )
		values
		     (
		       seq_blno.nextval
		     , #{memNo}
		     , #{bkNo}
		     , #{blTitle}
		     , #{blContent}
		     , #{blRate}
		     , SYSDATE
		     )
	</insert>
	
	<!-- 도서 검색 모달창: 도서 조회용 -->
	<!-- @author daeunlee -->
	<select id="selectBookSearchList" resultMap="bookResult">
		select
		       bk_no
             , bk_title
             , writer_name
             , intro_originname
             , bk_introduce
		  from book
		 where bk_selstatus = 'Y'
	 	<choose>
	 		<when test="condition == 'bkTitle'">
	 			and bk_title
	 		</when>
	 		<otherwise>
	 			and writer_name
	 		</otherwise>
	 	</choose>
	 	       like '%' || #{keyword} || '%'	
	</select>
	
	<!-- 독서록 상세조회용 : 조회수 증가 -->
	<!-- @author daeunlee -->
	<update id="increaseCount">
		update 
		       booklist
		   set bl_count = bl_count+1
		 where bl_no = #{blNo}
		   and bl_status='Y'
	</update>
	
	<!-- 독서록 상세조회용 : 해당게시글 조회 -->
	<!-- @author daeunlee -->
	<select id="selectBooklist" resultMap="booklistResult">
		select 
		       bl_no
		     , mem_nickname
		     , bl_title
		     , bl_content
		     , bl_count
		     , bl_rate
		     , bl_cdate
		     , bl_mdate
		     , bl_like
		     , bl_scrap
		     , bk_no
		  from booklist
		  join members using(mem_no)
		 where bl_no = #{blNo}
		   and bl_status='Y'
	</select>
	
	<!-- 독서록 상세조회용 : 해당 게시글의 책정보 조회 -->
	<!-- @author daeunlee -->
	<select id="selectBook" resultMap="bookResult">
		select 
		       bk_no
		     , bk_title
		     , writer_name
		     , bk_introduce
		  from booklist
		  join book using(bk_no)		  
		 where bl_no = #{blNo}
		   and bl_status='Y'
	</select>
	
	<!-- 댓글 리스트 조회 -->
	<!-- @author daeunlee -->
	<select id="selectReplyList" resultMap="replyResult">
		select 
		       reply_no
		     , mem_no
		     , reply_type
		     , ref_post
		     , reply_content
		     , reply_cdate
		     , reply_mdate
		     , delete_status
		     , reply_refNo
		     , depth
		  from reply
		 where reply_type = 2
		   and ref_post = #{blNo}
		 start with reply_refno = 0
		connect by prior reply_no = reply_refno
		order siblings by reply_cdate desc
	</select>
	
	<!-- 댓글 작성 -->
	<!-- @author daeunlee -->
	<insert id="insertReply">
		insert 
		  into reply
		     ( 
		       reply_no
		     , mem_no
		     , reply_type
		     , ref_post
		     , reply_content
		     , reply_refno
		     , depth
		     )
		values
		     ( 
		       seq_rno.nextval
		     , #{memNo}
		     , 2
		     , #{refPost}
		     , #{replyContent}
		     , #{replyRefNo}
		     , #{depth}
		     )
	</insert>
	
	<!-- 독서록 수정 -->
	<!-- @author daeunlee -->
	<update id="updateBooklist">
		update
		       booklist
		   set 
		       bl_title = #{blTitle}
		     , bl_content = #{blContent}
		     , bk_no = #{bkNo}
		     , bl_rate = #{blRate}
		     , bl_mdate = SYSDATE
		 where bl_no = #{blNo}
	</update>
	
	<update id="deleteBooklist">
		update
		       booklist
		   set bl_status = 'N'
		 where bl_no = #{blNo}	
	</update>
	
	<!-- 독서록 검색 : 갯수 조회용 -->
	<!-- @author daeunlee -->
	<select id="selectSearchListCount" resultType="_int">
		select
		       count(*)
		  from booklist
		  join members using (mem_no)
		 where bl_status = 'Y'
	 	<choose>
	 		<when test="condition == 'blTitle'">
	 			and bl_title
	 		</when>
	 		<when test="condition == 'writer'"> 
	 			and mem_nickname	 		
	 		</when>
	 		<otherwise>
	 			and bl_content
	 		</otherwise>
	 	</choose>
	 	       like '%' || #{keyword} || '%'	
	</select>
	
	<!-- 독서록 검색 : 게시글 조회용 -->
	<!-- @author daeunlee -->
	<select id="selectBooklistSearchList" resultMap="booklistResult">
		select 
		       bl_no
		     , mem_nickname
		     , bk_no
		     , bl_title
		     , bl_content
		     , bl_count
		     , bl_rate
		     , bl_cdate
		     , bl_mdate
		     , bl_like
		     , bl_scrap
		  from booklist
		  join members using(mem_no)
		 where bl_status = 'Y'
	 	<choose>
	 		<when test="condition == 'blTitle'">
	 			and bl_title
	 		</when>
	 		<when test="condition == 'writer'"> 
	 			and mem_nickname	 		
	 		</when>
	 		<otherwise>
	 			and bl_content
	 		</otherwise>
	 	</choose>
	 	       like '%' || #{keyword} || '%'	
	</select>

</mapper>
