<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="groupMapper">
	
	<resultMap type="GroupBoard" id="groupResult">
			<result column="group_boardno" property="groupBoardNo"/>
			<result column="mem_no" property="memNo"/>
			<result column="group_type" property="groupType"/>
			<result column="group_title" property="groupTitle"/>
			<result column="group_script" property="groupScript"/>
			<result column="group_date" property="groupDate"/>
			<result column="group_limit" property="groupLimit"/>			
			<result column="group_notice" property="groupNotice"/>			
			<result column="group_place" property="groupPlace"/>			
			<result column="group_open" property="groupOpen"/>		
			<result column="group_img" property="groupImg"/>
						
	</resultMap>
	
	
	<select id="selectList" resultMap="groupResult" >
		SELECT *              
        FROM (SELECT ROWNUM NUM 
            , s.group_boardno 
            , s.group_type
            , s.group_title
            , s.group_script
            , s.group_place
            , s.group_img
            
              FROM 
                    (SELECT * FROM GROUPBOARD 
             
                    ORDER BY GROUP_BOARDNO DESC)s) 
        WHERE NUM BETWEEN 1 AND 4
	
	
	</select>
	
	<select id="selectListMore" resultMap="groupResult">
		select *             
        FROM (SELECT ROWNUM NUM 
            , s.group_boardno 
            , s.group_type
            , s.group_title
            , s.group_script
            , s.group_place
            , s.group_img
            
              FROM 
                    (SELECT * FROM GROUPBOARD 
             
                    ORDER BY GROUP_BOARDNO DESC)s) 
        WHERE NUM BETWEEN 5+(4*#{more}) AND 8+(4*#{MORE})
	
	
	</select>
	
	<insert id="inserGMem">
		
		insert 
		  into groupMember
		  (
		  	group_boardno
		  ,	mem_no
		  ,	group_enrolldate
		  ,	mem_email
		  ,	group_level
		  ,	group_withdraw
		  ,	group_reason
		  )
		  values
		  (
		  	seq_gno.nextval
		  , #{memNo}
		  , #{gorupEnrollDate}
		  , #{mem_email}
		  , #{group_level}
		  , #{group_withdraw}
		    #{group_reason}
		  )
			
	</insert>
	
	<select id="selectSearchGListCount" resultType="_int">
		select
			   count(*)
	      from groupBoard b
	      
	     where group_status='Y'
	     <if test="condition == 'group_title'">
	    	and gorup_title
	    </if>
	    <if test="condition == 'group_script'">
	    	and group_script
	    </if>
	    <if test="condition == 'group_place'">
	    	and group_place
	    </if>
	     		like '%' || #{keyword} || '%'
	
	</select>
	
	<select id="selectSearchList" resultMap="groupResult">
			SELECT *              
        FROM (SELECT ROWNUM NUM 
            , s.group_boardno 
            , s.group_type
            , s.group_title
            , s.group_script
            , s.group_place
            , s.group_img
            
              FROM 
                    (SELECT * FROM GROUPBOARD 
            <choose>
            <when test="condition == 'groupTitle'">
            where group_title
           </when>
           <when test="condition == 'groupScript'">
            and group_script
            </when>
            <otherwise>
            and group_place
            </otherwise>
           </choose>
	     		like '%' || #{keyword} || '%'
             
             
                    ORDER BY GROUP_BOARDNO DESC)s) 
	</select>


	<insert id="insertGBoard">
		insert
		  into groupBoard
		  (
		  group_boardno
		 ,group_type
		 ,group_title
		 ,group_place
		 ,group_script
		 ,group_limit
		 ,group_img
		  )
		  values
		  (
		  seq_gno.nextval
		 ,#{groupType}
		 ,#{groupTitle}
		 ,#{groupPlace}
		 ,#{groupScript}
		 ,#{gorupLimit}
		 ,#{groupImg}
		  )
	
	</insert>
</mapper>
