<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">
	<resultMap id="memberResult" type="Member">
		<result column="mem_no" property="memNo"/>
		<result column="mem_id" property="memId"/>
		<result column="mem_pwd" property="memPwd"/>
		<result column="mem_name" property="memName"/>
		<result column="mem_post" property="memPost"/>
		<result column="mem_basic_address" property="memBasicAddress"/>
		<result column="mem_detail_address" property="memDetailAddress"/>
		<result column="mem_address_refer" property="memAddressRefer"/>
		<result column="mem_gender" property="memGender"/>
		<result column="mem_age" property="memAge"/>
		<result column="mem_phone" property="memPhone"/>
		<result column="mem_email" property="memEmail"/>
		<result column="email_status" property="emailStatus"/>
		<result column="mem_status" property="memStatus"/>
		<result column="mem_nickname" property="memNickname"/>
		<result column="mem_work" property="memWork"/>
		<result column="mem_level" property="memLevel"/>
		<result column="mem_enrolldate" property="memEnrolldate"/>
		<result column="black_reason" property="blackReason"/>
		<result column="black_date" property="blackDate"/>
		<result column="report_count" property="reportCount"/>
		<result column="origin_img_name" property="originImgName"/>
		<result column="change_img_name" property="changeImgName"/>
	</resultMap>
	
	<resultMap id="memberInterestResult" type="MemberInterest">
		<result column="mem_no" property="memNo"/>
		<result column="interest_no" property="interestNo"/>
	</resultMap>
	
	<resultMap id="memberCategoryResult" type="MemberCategory">
		<result column="mem_no" property="memNo"/>
		<result column="sub_cate_no" property="subCategoryNo"/>
	</resultMap>
	
	<resultMap id="couponResult" type="Coupon">
		<result column="coupon_issue_num" property="couponIssueNum"/>
		<result column="coupon_no" property="couponNo"/>
		<result column="mem_no" property="memNo"/>
		<result column="coupon_kind" property="couponKind"/>
		<result column="create_date" property="createDate"/>
		<result column="expire_date" property="expireDate"/>
		<result column="status" property="status"/>
		<result column="use_date" property="useDate"/>
		<result column="coupon_name" property="couponName"/>
		<result column="coupon_category" property="couponCategory"/>
		<result column="coupon_price" property="couponPrice"/>
		<result column="coupon_pricerate" property="couponPriceRate"/>
	</resultMap>
  	
  	<!-- 비밀번호 암호화 적용 전 로그인 메서드(안세아) -->
  	<select id="loginMember" resultMap="memberResult">
  		select
    		mem_no,
    		mem_id,
    		mem_pwd,
    		mem_name,
    		mem_post,
    		mem_basic_address,
    		mem_detail_address,
    		mem_address_refer,
    		mem_gender,
    		mem_age,
    		mem_phone,
    		mem_email,
    		email_status,
    		mem_status,
    		mem_nickname,
    		mem_work,
    		mem_level,
    		mem_enrolldate,
    		black_reason,
    		black_date,
    		report_count,
    		origin_img_name,
    		change_img_name
		from members
		where 
  			mem_id = #{memId}
    		and mem_pwd = #{memPwd}
    		and email_status = 'Y'
    		and not mem_status = 'N'
  	</select>
  	
  	<!-- 아이디 중복 확인 메서드(안세아) -->
  	<select id="idCheck" resultType="_int">
  		select
    		count(*)
		from members
		where 
  			mem_id = #{memId}
  	</select>
  	
  	<!-- 닉네임 중복 확인 메서드(안세아) -->
  	<select id="nickCheck" resultType="_int">
  		select
    		count(*)
		from members
		where 
  			mem_nickname = #{memNickname}
  	</select>
  	
  	<!-- 이메일 중복 확인 메서드(안세아) -->
  	<select id="emailCheck" resultType="_int">
  		select
    		count(*)
		from members
		where 
  			mem_email = #{memEmail}
  	</select>
  	
  	<!-- 가입 메서드(안세아) -->
  	<insert id="insertMember">
  		insert 
  		into members(
  			mem_no,
    		mem_id,
    		mem_pwd,
    		mem_name,
    		mem_post,
    		mem_basic_address,
    		mem_detail_address,
    		mem_address_refer,
    		mem_gender,
    		mem_age,
    		mem_phone,
    		mem_email,
    		email_status,
    		mem_status,
    		mem_nickname,
    		mem_work,
    		mem_level
  		)values(
  			seq_mem.nextval,
  			#{memId},
  			#{memPwd},
  			#{memName},
  			#{memPost},
  			#{memBasicAddress},
  			#{memDetailAddress},
  			#{memAddressRefer},
  			#{memGender},
  			#{memAge},
  			#{memPhone},
  			#{memEmail},
  			#{emailStatus},
  			#{memStatus},
  			#{memNickname},
  			#{memWork},
  			#{memLevel}
  		)
  	</insert>
  	
  	<!-- 이메일 확인값 업데이트 메서드(안세아) -->
  	<update id="updateEmailStatus">
  		update members
			set
			 email_status = #{emailStatus}
		where mem_email = #{memEmail}
  	</update>
  	
  	<!-- 아이디로 멤버 조회해오는 메서드(안세아) -->
  	<select id="selectMemberById" resultType="_int">
  		select 
  			mem_no
  		from members
  		where 
  			mem_id = #{memId}
  	</select>
  	
  	<!-- 관심사 추가하는 메서드(안세아) -->
  	<insert id="insertMemberInterest">
  		insert
  		into mem_interest(
  			mem_no,
  			interest_no
  		)values(
  			#{memNo},
  			#{interestNo}
  		)
  	</insert>
  	
  	<!-- 관심 서브 카테고리 추가하는 메서드(안세아) -->
  	<insert id="insertMemberCategory">
  		insert
  		into mem_category(
  			mem_no,
  			sub_cate_no
  		)values(
  			#{memNo},
  			#{subCategoryNo}
  		)
  	</insert>
  	
  	<!-- 이메일과 이메일 상태 가져오는 메서드(안세아) -->
  	<select id="selectEmailAndAuthKey" resultMap="memberResult">
  		select mem_email,
    		email_status
    	from members
    	where mem_email=#{memEmail}
    	and email_status = #{emailStatus}
  	</select>
  	
  	<!-- 이메일값으로 멤버의 아이디, 메일 가져오는 메서드(안세아) -->
  	<select id="selectMemberByEmail" resultMap="memberResult">
  		select mem_id, mem_email
  		from members
  		where mem_email = #{memEmail}
  		and not mem_status = 'N'
  	</select>
  	
  	<!-- 이메일 값과 id로 멤버의 정보 가여오는 메서드(안세아) -->
  	<select id="selectMemberByEmailAndId" resultMap="memberResult">
  		select mem_id, mem_email, mem_pwd, mem_no
  		from members
  		where mem_email = #{memEmail}
  		and mem_id = #{memId}
  		and not mem_status = 'N'
  	</select>
  	
  	<!-- 멤버의 비밀번호 업데이트하는 메서드 -->
  	<update id="updatePassword">
  		update members
  		set
  		 mem_pwd = #{memPwd}
  		where mem_id = #{memId} and mem_email = #{memEmail}
  	</update>
  	
  	<!-- [관리자] 주문 상세 조회 - 주문한 회원 조회 (한진) -->
  	<select id="selectAdminOrderedMem" resultMap="memberResult">
  		select 
  			   mem_id,
  			   mem_name,
  			   mem_phone,
  			   mem_email
  		  from members
  		  join orders using (mem_no)
  		 where order_no = #{orderNo}
	</select>
	
  	<!-- [사용자] 소지 쿠폰 개수 조회 (연지) -->
  	<select id="selectCouponCount" resultType="_int">
  		select
    		   count(*)
		  from mem_cupon
		 where mem_no = #{memNo}
  	</select>
  	
  	<!-- [사용자] 소지 쿠폰 조회 (연지) -->
  	<select id="selectCouponList" resultMap="couponResult">
  		  		select
    		   coupon_issue_num,
    		   coupon_no,
    		   mem_no,
    		   mc.coupon_kind,
    		   create_date,
    		   expire_date,
    		   status,
    		   use_date,
               coupon_name,
               c.coupon_kind coupon_category,
               coupon_price,
               coupon_pricerate
		  from mem_cupon mc
          join coupon c using (coupon_no)
		 where mem_no = 3
           and status = 'Y';
  	</select>
  	
  	<!-- 관리자 회원조회 (형우) -->
  	<select id="selectAmemList" resultType="_int">
  		select
  				count(*)
  			from members
  			where mem_status = 'M'
  	</select>
  	
  	<select id="selectAmemSearch" resultMap="memberResult">
  		select
  				mem_no,
  				mem_id,
  				mem_pwd,
  				mem_name,
  				mem_email,
  				mem_basic_address,
  				mem_enrolldate
  			from members
  		   where mem_status = 'M'
  		   order
  		   		by mem_no asc
  	</select>
  	
  	<!-- 사용자 선호 관심사 삭제 (안세아) -->
  	<delete id="deleteAllMemInterest">
  		delete
  		from mem_interest
  		where mem_no = #{memNo}
  	</delete>
  	
  	<!-- 사용자 선호 카테고리 삭제 (안세아) -->
  	<delete id="deleteAllMemCategory">
  		delete
  		from mem_category
  		where mem_no = #{memNo}
  	</delete>
  	
  	<!-- 사용자 직업과 책 선호난이도 바꾸기(안세아) -->
  	<update id="updateMemberWorkAndLevel">
  		update members
  		set 
  			mem_work = #{memWork},
  			mem_level = #{memLevel}
  		where 
  			mem_no = #{memNo}
  	</update>
 	
 	<!-- 사용자의 관심사 리스트 가져오기(안세아) -->
 	<select id="selectMemberInterestList" parameterType="int" resultMap="memberInterestResult">
 		select mem_no, interest_no
 		from mem_interest
 		where mem_no = #{memNo}
 	</select>
 	
 	<select id="selectSubCategoryList" parameterType="int" resultMap="memberCategoryResult">
 		select mem_no, sub_cate_no
 		from mem_category
 		where mem_no = #{memNo}
 	</select>
 	
</mapper>
