<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="orderMapper">
	
	<resultMap type="Order" id="orderResult">
		<result column="order_no" property="orderNo"/>
		<result column="mem_no" property="memNo"/>
		<result column="mem_name" property="memName"/>
		<result column="mem_id" property="memId"/>
		<result column="bk_title" property="bkTitle"/>
		<result column="pay_way" property="payWay"/>
		<result column="pay_no" property="payNo"/>
		<result column="order_date" property="orderDate"/>
		<result column="order_receiver" property="orderReceiver"/>
		<result column="order_post" property="orderPost"/>
		<result column="order_address" property="orderAddress"/>
		<result column="address_detail" property="addressDetail"/>
		<result column="address_ref" property="addressRef"/>
		<result column="order_phone" property="orderPhone"/>
		<result column="delivery_msg" property="deliveryMsg"/>
		<result column="order_price" property="orderPrice"/>
		<result column="add_price" property="addPrice"/>
		<result column="used_points" property="usedPoints"/>
		<result column="order_status" property="orderStatus"/>
		<result column="pay_status" property="payStatus"/>
		<result column="cs_status" property="csStatus"/>
		<result column="admin_memo" property="adminMemo"/>
		<result column="product_status" property="productStatus"/>
		<result column="delivery_company" property="deliveryCompany"/>
		<result column="shipping_number" property="shippingNumber"/>
		<result column="shipping_date" property="shippingDate"/>
		<result column="delivery_status" property="deliveryStatus"/>
		<result column="coupon_issue_num" property="couponIssueNum"/>
		<result column="detail_price" property="detailPrice"/>
		<result column="coupon_price" property="couponPrice"/>
		<result column="coupon_pricerate" property="couponPriceRate"/>
	</resultMap>
	
	<resultMap type="OrderDetail" id="orderDetailResult">
		<result column="order_no" property="orderNo"/>
		<result column="bk_no" property="bkNo"/>
		<result column="quantity" property="quantity"/>
		<result column="detail_price" property="detailPrice"/>
		<result column="detail_status" property="detailStatus"/>
		<result column="bk_title" property="bkTitle"/>
		<result column="writer_name" property="writerName"/>
		<result column="bk_publish" property="bkPublish"/>
	</resultMap>
	
	<!-- [관리자] 전체 주문 개수 조회 (한진) -->
	<select id="selectAllListCount" resultType="_int">
		select 
			   count(*)
		  from orders
		 where not order_status in ('반품', '주문취소', '환불')
	</select>
	
	<!-- [관리자] 전체 주문 목록 조회 (한진) -->
	<select id="selectAdminOrderList" resultMap="orderResult">
		select s1.*
		  from (
		         select
		                row_number() over(partition by order_no order by order_date desc) rnum,
		                t1.*
		           from (
		                  select 
		                         order_no,
		                         mem_name,
		                         mem_id,
		                         bk_title,
		                         pay_way,
		                         status,
		                         order_date,
		                         order_receiver,
		                         order_post,
		                         order_address,
		                         address_detail,
		                         address_ref,
		                         order_phone,
		                         delivery_msg,
		                         order_price,
		                         add_price,
		                         used_points,
		                         order_status,
		                         pay_status,
		                         cs_status,
		                         admin_memo,
		                         product_status,
		                         delivery_company,
		                         shipping_number,
		                         shipping_date,
		                         delivery_status,
		                         coupon_issue_num
		                    from orders
		                    join members using(mem_no)
		                    join payment using(pay_no)
		                    join order_detail using(order_no)
		                    join book using(bk_no)
		                ) t1            
		        ) s1
		  where s1.rnum = 1
		    and not order_status in ('반품', '주문취소', '환불')
		 <choose>
		 	<when test="orStatus == 1">
		 		and order_status = '주문확인'
		 	</when> 
		 	<when test="orStatus == 2">
		 		and order_status = '상품준비중'
		 	</when>	
		 	<when test="orStatus == 3">
		 		and order_status = '배송준비중'
		 	</when>
		 	<when test="orStatus == 4">
		 		and order_status = '배송중'
		 	</when>
		 	<when test="orStatus == 5">
		 		and order_status = '배송완료'
		 	</when>
		 </choose>
		 order
		    by 
		 <choose>
		 	<when test="array == 0">
		 		order_date desc
		 	</when> 
		 	<when test="array == 1">
		 		order_date asc
		 	</when>	
		 </choose> 
	</select>
	
	<!-- [사용자] 도서 주문 조회 (연지) -->
	<!-- 
	<select id="selectOrder" resultMap="orderResult">
		select order_no,
			   mem_no,
			   pay_no,
			   order_date,
			   order_receiver,
			   order_post,
			   order_address,
			   address_detail,
			   address_ref,
			   order_phone,
			   delivery_msg,
			   order_price,
			   add_price,
			   used_points,
			   order_status,
			   pay_status,
			   cs_status,
			   admin_memo,
			   delivery_company,
			   shipping_number,
			   shipping_date,
			   delivery_status,
			   coupon_issue_num,
			   detail_price
		  from orders
		  join (select order_no, sum(detail_price) detail_price
				from order_detail
                group by order_no
                having order_no = #{orderNo}) using (order_no)
		 where order_no = #{orderNo}
	</select>
	 -->
	
	<!-- [사용자] 도서 주문 조회 (연지) -->
	<select id="selectOrder" resultMap="orderResult">
	select order_no,
			   mem_no,
			   pay_no,
			   order_date,
			   order_receiver,
			   order_post,
			   order_address,
			   address_detail,
			   address_ref,
			   order_phone,
			   delivery_msg,
			   order_price,
			   add_price,
			   used_points,
			   order_status,
			   pay_status,
			   cs_status,
			   admin_memo,
			   delivery_company,
			   shipping_number,
			   shipping_date,
			   delivery_status,
			   nvl(o.coupon_issue_num, 0),
			   detail_price,
               nvl(c.coupon_price, 0) coupon_price,
               nvl(c.coupon_pricerate, 0) coupon_pricerate
	  from (select coupon_issue_num, coupon_price, coupon_pricerate
	        from (select coupon_issue_num, coupon_no, c.coupon_price, coupon_pricerate
	                from coupon c
	                join mem_cupon mc using (coupon_no))
	        where coupon_no = (select coupon_no
	                             from mem_cupon
	                             where COUPON_ISSUE_NUM = (select COUPON_ISSUE_NUM
	                                                         from orders
	                                                        where order_no = #{orderNo}))) c
	  right join (select order_no,
				   mem_no,
				   pay_no,
				   order_date,
				   order_receiver,
				   order_post,
				   order_address,
				   address_detail,
				   address_ref,
				   order_phone,
				   delivery_msg,
				   order_price,
				   add_price,
				   used_points,
				   order_status,
				   pay_status,
				   cs_status,
				   admin_memo,
				   delivery_company,
				   shipping_number,
				   shipping_date,
				   delivery_status,
				   coupon_issue_num,
				   detail_price
			  from orders
			  join (select order_no, sum(detail_price) detail_price
					from order_detail
	                group by order_no
	                having order_no = #{orderNo}) using (order_no)
			 where order_no = #{orderNo}) o on (o.coupon_issue_num = c.coupon_issue_num)
	</select>
	 
	<!-- [사용자] 도서 상세 주문 리스트 조회 (연지) -->
	<select id="selectOrderList" resultMap="orderDetailResult">
		select order_no,
			   o.bk_no,
			   quantity,
			   detail_price,
			   detail_status,
			   bk_title,
			   writer_name
		  from order_detail o
		  join book b on (o.bk_no = b.bk_no)
		 where order_no = #{orderNo}
	</select>
	
	<!-- [관리자] '주문확인'인 주문 개수 조회 (한진) -->
	<select id="selectConfirmCnt" resultType="_int">
		select count(*)
		  from orders
		 where order_status = '주문확인'
	</select>
	
	<!-- [관리자] '상품준비중'인 주문 개수 조회 (한진) -->
	<select id="selectProductReadyCnt" resultType="_int">
		select count(*)
		  from orders
		 where order_status = '상품준비중'
	</select>
	
	<!-- [관리자] '배송준비중'인 주문 개수 조회 (한진) -->
	<select id="selectDeliveryReadyCnt" resultType="_int">
		select count(*)
		  from orders
		 where order_status = '배송준비중'
	</select>
	
	<!-- [관리자] '배송중'인 주문 개수 조회 (한진) -->
	<select id="selectDeliveryCnt" resultType="_int">
		select count(*)
		  from orders
		 where order_status = '배송중'
	</select>
	
	<!-- [관리자] '배송완료'인 주문 개수 조회 (한진) -->
	<select id="selectFinishCnt" resultType="_int">
		select count(*)
		  from orders
		 where order_status = '배송완료'
	</select>
	
	<!-- [관리자] 검색조건에 일치하는 주문 개수 조회 (한진) -->
	<select id="selectAdminOListSearchCount" resultType="_int">
		select
			   count(*)
		  from orders
		  join members using(mem_no)
		  where not order_status in ('반품', '주문취소', '환불')
		<choose>
			<when test="condition == 'searchAll'">
				and order_no like '%' || #{keyword} || '%'
				   or mem_name like '%' || #{keyword} || '%'
				   or mem_id
			</when>
			<when test="condition == 'orderNo'">
				  and order_no
			</when>		
			<when test="condition == 'memName'">
				  and mem_name
			</when>
			<when test="condition == 'memId'">
				  and mem_id
			</when>
		</choose>
		like '%' || #{keyword} || '%'
	</select>
	
	<!-- [관리자] 검색 조건에 일치하는 주문 목록 조회 (한진) -->
	<select id="selectAdminOrderSearchList" resultMap="orderResult">
		select s1.*
		  from (
		         select
		                row_number() over(partition by order_no order by order_date desc) rnum,
		                t1.*
		           from (
		                  select 
		                         order_no,
		                         mem_name,
		                         mem_id,
		                         bk_title,
		                         pay_way,
		                         status,
		                         order_date,
		                         order_receiver,
		                         order_post,
		                         order_address,
		                         address_detail,
		                         address_ref,
		                         order_phone,
		                         delivery_msg,
		                         order_price,
		                         add_price,
		                         used_points,
		                         order_status,
		                         pay_status,
		                         cs_status,
		                         admin_memo,
		                         product_status,
		                         delivery_company,
		                         shipping_number,
		                         shipping_date,
		                         delivery_status,
		                         coupon_issue_num
		                    from orders
		                    join members using(mem_no)
		                    join payment using(pay_no)
		                    join order_detail using(order_no)
		                    join book using(bk_no)
		                ) t1            
		        ) s1
		  where s1.rnum = 1
		  <choose>
		 	<when test="orStatus == 1">
		 		and order_status = '주문확인'
		 	</when> 
		 	<when test="orStatus == 2">
		 		and order_status = '상품준비중'
		 	</when>	
		 	<when test="orStatus == 3">
		 		and order_status = '배송준비중'
		 	</when>
		 	<when test="orStatus == 4">
		 		and order_status = '배송중'
		 	</when>
		 	<when test="orStatus == 5">
		 		and order_status = '배송완료'
		 	</when>
		 </choose>
		 and not order_status in ('반품', '주문취소', '환불')
		 <choose>
			<when test="condition == 'searchAll'">
				and (order_no like '%' || #{keyword} || '%'
				   or mem_name like '%' || #{keyword} || '%')
				   or mem_id
			</when>
			<when test="condition == 'orderNo'">
				  and order_no
			</when>		
			<when test="condition == 'memName'">
				  and mem_name
			</when>
			<when test="condition == 'memId'">
				  and mem_id
			</when>
		</choose>
		like '%' || #{keyword} || '%'
		 order
		    by 
		 <choose>
		 	<when test="array == 0">
		 		order_date desc
		 	</when> 
		 	<when test="array == 1">
		 		order_date asc
		 	</when>	
		 </choose> 
	</select>
	
	<!-- [관리자] 관리자 메모 등록/수정 (한진) -->
	<update id="updateAdminMemo">
		update
		       orders
		   set admin_memo = #{memoContent}
		 where order_no = #{orderNo} 
	</update>
	
	<!-- [관리자] 관리자 메모 삭제 (한진) -->
	<update id="deleteAdminMemo">
		update orders
  		   set admin_memo = null
		 where order_no = #{orderNo}
	</update>
	
	<!-- [관리자] 주문 상세 조회 - 주문 내역 조회(한진) -->
	<select id="selectAdminOrderDetail" resultMap="orderResult">
		select 
		       order_no,
		       mem_no,
		       pay_no,
		       order_date,
		       order_receiver,
		       order_post,
		       order_address,
		       address_detail,
		       address_ref,
		       order_phone,
		       delivery_msg,
		       order_price,
		       add_price,
		       used_points,
		       order_status,
		       pay_status,
		       cs_status,
		       admin_memo,
		       product_status,
		       delivery_company,
		       shipping_number,
		       shipping_date,
		       delivery_status,
		       coupon_issue_num
		  from orders
		 where order_no = #{orderNo}		
	</select>
	
	<!-- [관리자] 주문 상세 조회 - 주문 도서 내역 조회 (한진) -->
	<select id="selectAdminOrderedBook" resultMap="orderDetailResult">
		select
		       order_no,
		       bk_no,
		       bk_title,
		       bk_publish,
		       writer_name,
		       quantity,
		       detail_price
		  from order_detail
		  join book using (bk_no)
	     where order_no = #{orderNo}
	</select>
		
	<!-- [관리자] 주문 배송지 변경 (한진) -->
	<update id="updateAdminAddress">
		update
		       orders
		   set order_post = #{orderPost},
		       order_address = #{orderAddress},
		       address_detail = #{addressDetail},
		       address_ref = #{addressRef}
		 where order_no = #{orderNo} 
	</update>
	
	
</mapper>