<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="orderMapper">
	
	<resultMap type="Order" id="orderResult">
		<result column="order_no" property="orderNo"/>
		<result column="mem_no" property="memNo"/>
		<result column="mem_name" property="memName"/>
		<result column="mem_id" property="memId"/>
		<result column="bk_title" property="bkTitle"/>
		<result column="pay_way" property="payWay"/>
		<result column="pay_no" property="payNo"/>
		<result column="order_date" property="orderDate"/>
		<result column="order_receiver" property="orderReceiver"/>
		<result column="order_post" property="orderPost"/>
		<result column="order_address" property="orderAddress"/>
		<result column="address_detail" property="addressDetail"/>
		<result column="address_ref" property="addressRef"/>
		<result column="order_phone" property="orderPhone"/>
		<result column="delivery_msg" property="deliveryMsg"/>
		<result column="order_price" property="orderPrice"/>
		<result column="add_price" property="addPrice"/>
		<result column="used_points" property="usedPoints"/>
		<result column="order_status" property="orderStatus"/>
		<result column="pay_status" property="payStatus"/>
		<result column="cs_status" property="csStatus"/>
		<result column="admin_memo" property="adminMemo"/>
		<result column="delivery_company" property="deliveryCompany"/>
		<result column="shipping_number" property="shippingNumber"/>
		<result column="shipping_date" property="shippingDate"/>
		<result column="delivery_status" property="deliveryStatus"/>
		<result column="coupon_issue_num" property="couponIssueNum"/>
		<result column="detail_price" property="detailPrice"/>
		<result column="coupon_price" property="couponPrice"/>
		<result column="coupon_pricerate" property="couponPriceRate"/>
	</resultMap>
	
	<resultMap type="OrderDetail" id="orderDetailResult">
		<result column="order_no" property="orderNo"/>
		<result column="bk_no" property="bkNo"/>
		<result column="quantity" property="quantity"/>
		<result column="detail_price" property="detailPrice"/>
		<result column="detail_status" property="detailStatus"/>
		<result column="writer_name" property="writerName"/>
	</resultMap>
	
	<!-- [관리자] 전체 주문 개수 조회 (한진) -->
	<select id="selectAllListCount" resultType="_int">
		select 
			   count(*)
		  from orders
	</select>
	
	<!-- [관리자] 전체 주문 목록 조회 (한진) -->
	<select id="selectAdminOrderList" resultMap="orderResult">
		select s1.*
		  from (
		         select
		                row_number() over(partition by order_no order by order_date desc) rnum,
		                t1.*
		           from (
		                  select 
		                         order_no,
		                         mem_name,
		                         mem_id,
		                         bk_title,
		                         pay_way,
		                         status,
		                         order_date,
		                         order_receiver,
		                         order_post,
		                         order_address,
		                         address_detail,
		                         address_ref,
		                         order_phone,
		                         delivery_msg,
		                         order_price,
		                         add_price,
		                         used_points,
		                         order_status,
		                         pay_status,
		                         cs_status,
		                         admin_memo,
		                         delivery_company,
		                         shipping_number,
		                         shipping_date,
		                         delivery_status,
		                         coupon_issue_num
		                    from orders
		                    join members using(mem_no)
		                    join payment using(pay_no)
		                    join order_detail using(order_no)
		                    join book using(bk_no)
		                ) t1            
		        ) s1
		  where s1.rnum = 1
		 <choose>
		 	<when test="bkStatus == 1">
		 		and bk_status = '판매중'
		 	</when> 
		 	<when test="bkStatus == 2">
		 		and bk_status = '품절'
		 	</when>	
		 	<when test="bkStatus == 3">
		 		and bk_selstatus = 'Y'
		 	</when>
		 	<when test="bkStatus == 4">
		 		and bk_selstatus = 'N'
		 	</when>
		 </choose>
		 order
		    by 
		 <choose>
		 	<when test="array == 0">
		 		order_date desc
		 	</when> 
		 	<when test="array == 1">
		 		order_date asc
		 	</when>	
		 </choose> 
	</select>
	
	<!-- [사용자] 도서 주문 조회 (연지) -->
	<select id="selectOrder" resultMap="orderResult">
		select order_no,
			   mem_no,
			   pay_no,
			   order_date,
			   order_receiver,
			   order_post,
			   order_address,
			   address_detail,
			   address_ref,
			   order_phone,
			   delivery_msg,
			   order_price,
			   add_price,
			   used_points,
			   order_status,
			   pay_status,
			   cs_status,
			   admin_memo,
			   delivery_company,
			   shipping_number,
			   shipping_date,
			   delivery_status,
			   coupon_issue_num,
			   detail_price
		  from orders
		  join (select sum(detail_price) detail_price
				from order_detail
				where order_no = 2)
		 where order_no = #{orderNo}
	</select>
	
	<!-- [사용자] 도서 주문 조회 (연지) -->
	<!-- 
	<select id="selectOrder" resultMap="orderResult">
		select o.*, c.coupon_price, c.coupon_pricerate
		from select (order_no,
				   mem_no,
				   pay_no,
				   order_date,
				   order_receiver,
				   order_post,
				   order_address,
				   address_detail,
				   address_ref,
				   order_phone,
				   delivery_msg,
				   order_price,
				   add_price,
				   used_points,
				   order_status,
				   pay_status,
				   cs_status,
				   admin_memo,
				   delivery_company,
				   shipping_number,
				   shipping_date,
				   delivery_status,
				   coupon_issue_num,
				   detail_price
			  from orders
			  join (select sum(detail_price) detail_price
					from order_detail
					where order_no = 2)
			 where order_no = #{orderNo}) o
		join (select coupon_price, coupon_pricerate
			  from coupon
			  where coupon_no = (select coupon_no
				                 from mem_cupon
				                 where coupon_issue_num = 1)) c using (coupon_issue_num)
	 -->
	 
	<!-- [사용자] 도서 상세 주문 리스트 조회 (연지) -->
	<select id="selectOrderList" resultMap="orderDetailResult">
		select order_no,
			   o.bk_no,
			   quantity,
			   detail_price,
			   detail_status,
			   writer_name
		  from order_detail o
		  join book b on (o.bk_no = b.bk_no)
		 where order_no = #{orderNo}
	</select>
	
</mapper>