<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="rentalMapper">

	<resultMap id="rentalResult" type="Rental">
		<result column="rental_no" property="rentalNo"/>
		<result column="mem_no" property="memNo"/>
		<result column="bk_no" property="bkNo"/>
		<result column="store_no" property="storeNo"/>
		<result column="request_date" property="requestDate"/>
		<result column="receive_date" property="receiveDate"/>
		<result column="return_date" property="returnDate"/>
		<result column="rental_status" property="rentalStatus"/>
		<result column="bk_title" property="bkTitle"/>
		<result column="bk_publish" property="bkPublish"/>
		<result column="writer_name" property="writerName"/>
		<result column="store_name" property="storeName"/>
		<result column="bk_lct" property="bkLct"/>
	</resultMap>
	
	<!-- [사용자] 대여 내역 개수 조회 -->
	<select id="selectRentalCount" resultType="_int">
		select 
			   count(*)
	      from rental
	     where mem_no = #{memNo}
	</select>
	
	<!-- [사용자] 대여 내역 조회 -->
	<select id="selectRentalList" resultMap="rentalResult">
		select 
		       rental_no,
		       mem_no,
		       bk_no,
		       store_no,
		       request_date,
		       receive_date,
		       return_date,
		       rental_status,
		       bk_title,
		       store_name
		  from rental
		  join book using (bk_no)
		  join store using(store_no)
		 where mem_no = #{memNo}
	</select>
	
	<!-- [사용자] 대여 내역 개수 조회 -->
	<select id="selectRental" resultMap="rentalResult">
		select 
		       r.rental_no,
		       r.mem_no,
		       r.bk_no,
		       r.store_no,
		       request_date,
		       receive_date,
		       return_date,
		       rental_status,
		       bk_title,
               bk_publish,
               writer_name,
		       store_name,
		       bk_lct
		  from rental r
		  join book bk on (r.bk_no = bk.bk_no)
		  join store s on (r.store_no = s.store_no)
          join (select store_no, bk_lct
                  from off_book
                 where bk_no = (select bk_no
                                  from rental
                                 where rental_no = #{rentalNo})) ob on (r.store_no = ob.store_no)
		 where rental_no = #{rentalNo}
	</select>

</mapper>